<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <title>Staff </title>
    <style>
        .hii {
            font-size: 5em;
            font-family: serif;
            color: transparent;
            text-align: center;
            animation: effect 2s linear infinite;
        }

        @keyframes effect {
            0% {
                background: linear-gradient(#080f63, #29a929);
                -webkit-background-clip: text;
            }

            100% {
                background: linear-gradient(#3CE7D7, #000FFF);
                -webkit-background-clip: text;
            }
        }
    </style>
</head>

<body>
<form class="container" onsubmit="return validate()" method="post">
        <div class="h2 text-center hii">OPENMIND COMPUTECH TRAINING INSTITUTE</div>
        <div class="h2 text-center hii">Staff Registration</div>
        <div class="mb-3">
            <label for="Staff" class="form-label">Staff name</label>
            <input type="text" class="form-control" id="Staff" name="Staff">
   </div>
        <label for="Staffrole" class="form-label">Staff Role</label>
        <select class="form-select" aria-label="Default select example" id="Staffrole" name="Staffrole">
            <option selected value="1"> select staff role</option>
            <option value="Admin">Admin</option>
            <option value="Staff">Staff</option>
        </select>
        <div class="mb-3 mt-2">
            <label for="Email" class="form-label">Email address</label>
            <input type="email" name="Email" class="form-control" id="Email" aria-describedby="emailHelp">
            <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
        </div>
        <div class="mb-3">
            <label for="password" class="form-label">Password</label>
            <input type="password" class="form-control" id="password" name="password">
        </div>

        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
        crossorigin="anonymous"></script>
    <script>
        function validate() {

            let name = document.getElementById("Staff").value;
            let Staffrole = document.getElementById("Staffrole").value;
            let Email = document.getElementById("Email").value;
            let password = document.getElementById("password").value;
            //let Staffrole = document.querySelector("input[name='Staffrole']:");
            // alert(Staffrole);
            // alert(name);
            // alert(Email);
            // alert(password);
            if (name == "") {
                alert("fill the Staff name");
                return false;
            } else if (Staffrole == "1") {
                alert("Select Staff Role");
                return false;
            } else if (Email == "") {
                alert("fill the Email");
                return false;
            } else if (password == "") {
                alert("fill the  password");
                return false;
            } else {
                alert("success");
                //return true;
            }

        }
    </script>

</body>

</html>